.dialogs{
display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogs img{
    width: 50px;
    padding-left: 70px;
}

.dialogs span{
    padding-top: 15px;
}

.dialogs span:hover{
    color: gold;
}